body {
  padding-top: 75px;
}

.box-shadow {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.05),
              0 4px 8px 0 rgba(0,0,0,.05);
}

#home-quote {
  background: url('../img/bg-quote.jpg') center center;
  background-size: cover;
}

@media (max-width: 767px) {
  #home-quote .display-4{
    font-size: 2.5rem;
  }
  body {
    padding-top: 0px;
  }
  .fixed-top {
    position: relative;
  }
}

.lista-plano li + li {
  border-top: 1px solid rgba(0,0,0,.2);
}

.lista-plano li {
  padding: 1rem;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-height{
  height: 26rem;
}
.text-sm-center{
  text-align: start !important;
}
@media only screen and (max-width: 768px) {
  .carousel-height{
    height: 16rem;
  }
}
@media only screen and (max-width: 495px) {
  .text-sm-center{
    text-align: center !important;
  }
  .carousel-height{
    height: 14rem;
  }
}
@media only screen and (min-width: 1200px) {
  .carousel-height{
    height: 36rem;
  }
}

/* Sobrescreve Cores bootstrap.css */
:root{
  --primary:#ea1d2c;
  --danger:#ee4c58;
}

.text-primary{
  color: var(--primary) !important;
}

a, .text-primary, a.text-primary:focus

{
  color: var(--primary);
}

a:hover,a.text-primary:hover {
  color: var(--danger) ;
}

.bg-primary {
  background-color: var(--primary) !important;
}

a.bg-primary:focus,a.bg-primary:hover {
  background-color: var(--danger) !important;
}

.btn-primary {
  background-color: var(--primary) !important;
  border: var(--primary) !important;

}

.btn-primary:hover{
  background-color: var(--danger) !important;
  border-color: var(--danger) !important;
  cursor: pointer;
  
}

/* Animation Button */

.button-animation{
  position: relative;
  z-index: 0;
  transition:300ms
}
.button-animation:hover{
  transform: translateY(-5%);
}
.button-animation::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 6px solid var(--primary);
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring cubic-bezier(0,1,.6,1.02) 3000ms infinite;
}

.button-animation:hover::after, .button-animation:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  60% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 210px;
    height: 210px;
    opacity: 0;
  }
}